@import "./normalize.css";

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#app{
	height: 100%;
	user-select: none;/* 禁止用户鼠标在页面上选中文字/图片等 */
}

.el-breadcrumb{
	margin-bottom: 20px;
}

.el-card{
	box-shadow: 0 1px 1px rgba(0,0,0,0.15)!important;
}